/*-------------------*/
/* La partie commune */
/*-------------------*/

html {
    background-color: white;
    color: black;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

/* HEADER */
header {
    width: 100%;
}

h1 {
    text-align: center;
    color: #1E2A5E;
}

/* FORM */
legend {
    color: navy;
}

.selection {
    color: #55679C;
    margin: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nom {
    margin: 0.5rem;
}

.consultation {
    margin: 0.5rem;
}

.bouton {
    font-size: 1rem;
}


/*  Couleurs

#7C93C3     Bleu très clair
#55679C     Bleu milieu
#1E2A5E     Bleu très foncé
#E1D7B7     Beige
#4169E1     Bleu roi
navy        Bleu marine

*/
