/*-------------------*/
/* La partie commune */
/*-------------------*/

html {
    background-color: #E1D7B7;
    color: #1E2A5E;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

/* HEADER */
header {
    width: 100%;
}

h1 {
    text-align: center;
}

/* FORM */
.selection {
    color: #55679C;
    margin: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.id {
    margin: 0.5rem;
}

.consultation {
    margin: 0.5rem;
}

.bouton {
    font-size: 1rem:
}
